@keyframes moveLeftRight {
	from {
		transform: translateX();
	}
	to {
		transform: translateX(135%);
	}
}

@mixin moveUpDown($name, $value) {
	@keyframes #{$name} {
		from {
			transform: translateY();
		}
		to {
			transform: translateY($value);
		}
	}
}
