@use 'animation';
@use 'mixins';

@include animation.moveUpDown(moveUpDown100, -100%);
@include animation.moveUpDown(moveUpDown200, 200%);

@media (min-width: 992px) {
	.header {
		&__img {
			&::before {
				width: 50%;
				left: 470px;
			}

			&::after {
				width: 75%;
				left: -60px;
			}
		}

		&__text {
			top: -200px;
		}
	}

	.be-active {
		&__container {
			display: flex;
		}

		&__text {
			width: 50%;
			padding: 2em;
			margin-bottom: 0em;

			.heading {
				font-size: 4rem;
			}
		}

		&__img {
			width: 50%;

			&::before {
				width: 80%;
				height: 80%;
				top: 160px;
				left: 60px;
			}

			img {
				width: 85%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	.advices {
		&__container {
			justify-content: center;

			&::before {
				height: 120%;
				transform: translate(-50%, -50px);
				z-index: -1;
			}
		}

		&__img {
			max-width: 550px;
			width: 50%;

			img {
				height: 100%;
			}
		}

		&__example {
			max-width: 550px;
		}
	}

	.cocktails {
		height: 1000px;

		&__container {
			padding-top: 5em;

			.decoration {
				&--circle {
					top: 1%;
					right: 2%;
				}

				&--square {
					bottom: 534px;
					width: 70%;
					max-width: 700px;
					height: 340px;
					left: 257px;
				}
			}
		}

		&__img {
			max-width: 450px;
		}

		&__text {
			padding: 4em 3em;
			top: -600px;
			right: -408px;

			.heading {
				font-size: 4rem;
			}
		}
	}

	.bottom {
		&__cards-box {
			max-width: 1000px;
			align-items: center;
			justify-content: center;
			gap: 3rem;
			margin: 0 auto;
		}

		&__card {
			max-width: 440px;
			margin: 0;
		}
	}

	.lettuce {
		&__container {
			&::before {
				height: 90%;
			}
		}

		&__text {
			max-width: 460px;
		}

		&__img {
			left: 0;
			top: -300px;
			text-align: right;

			img {
				width: 80%;
				max-width: 820px;
			}
		}
	}

	.contact {
		&__img-text {
			p {
				font-size: 2.2rem;
			}
		}

		&__form {
			label {
				font-size: 1.6rem;
			}

			button {
				width: 40%;
			}
		}
	}
}

@media (min-width: 1200px) {
	.header {
		&__img {
			&::before {
				left: 580px;
			}

			&::after {
				width: 60%;
			}
		}
	}

	.be-active {
		&__container {
			justify-content: space-evenly;
		}

		&__text {
			width: 50%;
			max-width: 400px;
		}

		&__img {
			&::before {
				top: 260px;
				left: 90px;
			}
		}
	}

	.cocktails {
		&__container {
			.decoration {
				&--circle {
					right: 24%;
				}
			}
		}

		&__img {
			max-width: 500px;
		}
	}

	.lettuce {
		&__container {
			&::before {
				width: 20%;
			}
		}

		&__text {
			left: 200px;
		}

		&__img {
			left: -100px;
		}
	}
}

@media (min-width: 1400px) {
	.header {
		&__img {
			&::before {
				left: 650px;
			}

			&::after {
				width: 50%;
			}
		}

		&__text {
			top: -300px;
			left: 101px;
		}
	}

	.cocktails {
		&__container {
			.decoration {
				&--circle {
					animation: moveLeftRight 30s linear infinite alternate;
				}
			}
		}

		&__img {
			&::before {
				left: 232%;
				bottom: -20%;
				// animation: moveUpDown 10s linear infinite alternate;
				animation: moveUpDown100 10s linear infinite alternate;
			}
		}
	}

	.bottom {
		&__images {
			&::before {
				animation: moveUpDown200 20s linear infinite alternate;
			}

			&::after {
				content: '';
				@include mixins.square(180px, 180px);
				bottom: 30%;
				right: 5%;
				border-radius: 50%;
				opacity: 0.3;
				animation: moveUpDown100 20s linear infinite alternate;
			}
		}
	}
}
