@media (min-width: 992px) {
	.header {
		&__img {
			&::before {
				width: 50%;
				left: 470px;
			}

			&::after {
				width: 75%;
				left: -60px;
			}
		}

		&__text {
			top: -200px;
		}
	}

	.be-active {
		&__container {
			display: flex;
		}

		&__text {
			width: 50%;
			padding: 2em;
			margin-bottom: 0em;

			.heading {
				font-size: 4rem;
			}
		}

		&__img {
			width: 50%;

			&::before {
				width: 80%;
				height: 80%;
				top: 160px;
				left: 60px;
			}

			img {
				width: 85%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	.advices {
		&__container {
			justify-content: center;

			&::before {
				height: 120%;
				transform: translate(-50%, -50px);
				z-index: -1;
			}
		}

		&__img {
			max-width: 550px;
			width: 50%;

			img {
				height: 100%;
			}
		}

		&__example {
			max-width: 550px;
		}
	}
}

@media (min-width: 1200px) {
	.header {
		&__img {
			&::before {
				left: 580px;
			}

			&::after {
				width: 60%;
			}
		}
	}

	.be-active {
		&__container {
			justify-content: space-evenly;
		}

		&__text {
			width: 50%;
			max-width: 400px;
		}

		&__img {
			&::before {
				top: 260px;
				left: 90px;
			}
		}
	}
}

@media (min-width: 1400px) {
	.header {
		&__img {
			&::before {
				left: 650px;
			}

			&::after {
				width: 50%;
			}
		}

		&__text {
			top: -300px;
			left: 101px;
		}
	}
}
