@media (min-width: 768px) {
	.nav {
		&__container {
			padding: 2.7em;
		}

		&__hamburger {
			display: none;
		}

		&__menu {
			a {
				font-weight: 400;

				&:not(&:last-child) {
					margin-bottom: 0em;
				}
			}

			&--mobile {
				display: none;
			}

			&--desktop {
				display: flex;
				column-gap: 3rem;

				a {
					transition: color 0.3s;

					&:hover {
						color: colors.$leadingColor;
					}
				}
			}
		}
	}

	.header {
		height: 1100px;

		&__img {
			&::before {
				width: 70%;
			}

			&::after {
				width: 90%;
				height: 70%;
				bottom: -100px;
			}
		}

		&__text {
			margin: 0;
			top: -130px;
			left: 80px;
		}
	}

	.be-active {
		&__text {
			margin-bottom: 7em;

			.heading {
				font-size: 4rem;
			}
		}

		&__img {
			width: 80%;

			&::before {
				width: 60%;
				height: 80%;
				top: 190px;
				left: 360px;
			}
		}
	}

	.advices {
		&__container {
			display: flex;
			align-items: center;
			column-gap: 6rem;
			padding: 2em;

			&::before {
				width: 30%;
			}
		}

		&__img {
			max-width: 350px;
			margin-bottom: 0;
			padding: 2em 0;
			align-self: stretch;

			img {
				height: 100%;
			}
		}
	}

	.cocktails {
		&__container {
			.decoration {
				&--circle {
					width: 220px;
					height: 220px;
					top: 28%;
					right: -2%;
					z-index: 1;
				}

				&--square {
					bottom: 184px;
					width: 75%;
					height: 240px;
					left: 153px;
				}
			}
		}

		&__img {
			width: 60%;
			margin-left: 6em;

			&::before {
				width: 160px;
				height: 160px;
			}

			img {
				height: 550px;
			}
		}

		&__text {
			top: -232px;
			right: -208px;
		}
	}

	.bottom {
		&__images {
			&::before {
				width: 180px;
				height: 180px;
			}

			img {
				max-width: 400px;
			}
		}
	}

	.be-active2 {
		&__text {
			p {
				max-width: 780px;
				margin: 0 auto 3em;
				line-height: 2;
			}
		}

		&__cards-box {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			gap: 4rem;
		}

		&__card {
			max-width: 400px;
			flex-basis: 45%;
			margin-bottom: 0em;
		}
	}
}
