@media (min-width: 768px) {
	.nav {
		&__container {
			padding: 2.7em;
		}

		&__hamburger {
			display: none;
		}

		&__menu {
			a {
				font-weight: 400;

				&:not(&:last-child) {
					margin-bottom: 0em;
				}
			}

			&--mobile {
				display: none;
			}

			&--desktop {
				display: flex;
				column-gap: 3rem;

				a {
					transition: color 0.3s;

					&:hover {
						color: colors.$leadingColor;
					}
				}
			}
		}
	}

	.header {
		height: 1100px;

		&__img {
			&::before {
				width: 70%;
			}

			&::after {
				width: 90%;
				height: 70%;
				bottom: -100px;
			}
		}

		&__text {
			margin: 0;
			top: -130px;
			left: 80px;
		}
	}
}
