@use 'colors';

@mixin square($w, $h, $col: colors.$leadingColor) {
	position: absolute;
	width: $w;
	height: $h;
	background-color: $col;
}

@mixin boxShadow {
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
