@media (max-width: 767px) and (orientation: landscape) {
	.nav {
		&__menu {
			a {
				font-size: 2rem;

				&:not(&:last-child) {
					margin-bottom: 1em;
				}
			}

			&--mobile {
				margin-top: 3em;
			}
		}
	}
}

@media (min-width: 576px) {
}
